$primary-color: white;
$secondary-color: #1BB248;
$tertiary-color: gray;

$font: "Montserrat", sans-serif;
$title-font: "Pacifico", cursive;

/* CSS Fade-In keyframes -  Reference: https://fabriceleven.com/ */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body, html {
  font-family: $font;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 15px;
}
#main {
  width: 100%;
  text-align: center;

  #error-label {
    color: red;
    background-color: $secondary-color;
  }
  #main-title {
    font-size: 3em;
    font-family: $title-font;
  }
  #main-subtitle {
    font-size: 1.2em;
  }
  #area-input {
    margin: .7em;
    padding: .5em;
    width: 25%;
    font-size: 1.2em;
    border: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  #area-btn {
    font-size: 1.3em;
    padding: .3em;
    border: none;
    background-color: darken($secondary-color, 15);
    color: $primary-color;

    &:hover {
      background-color: darken($secondary-color, 5);
      cursor: pointer;
    }
  }

  #locations {
      width: 100%;
      margin-top: .5em;

    .spot {
      display: inline-block;
      padding: .5em;
      margin: .05em;
      width: 15em;
      border: .1em solid white;
      opacity: 0;

      /* CSS Fade-In Animation -  Reference: https://fabriceleven.com/ */
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
    	animation-fill-mode: forwards;

      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      animation-duration: 1.5s;

      &:hover {
        background-color: lighten($secondary-color, 15);
      }
      h2 {
        font-family: $title-font;
      }
      img {
        height: auto;
        width: 60%;
      }
      input {
        margin: .6em;
        padding: .3em;
        border: none;
        background-color: darken($secondary-color, 15);
        color: $primary-color;

        &:hover {
          background-color: darken($secondary-color, 5);
          cursor: pointer;
        }
      }
      label {
        padding: .2em;
        color: darken($secondary-color, 15);
      }
    }
  }
}
.footer {
  margin-top: 2em;
  text-align: center;
}
a {
  text-decoration: none;
  color: darken($tertiary-color, 20);

  &:hover {
    text-decoration: underline;
  }
}
.hidden {
  display: none;
}
