$primary-color: white;
$secondary-color: #1BB248;
$tertiary-color: gray;

$font: "Montserrat", sans-serif;
$title-font: "Pacifico", cursive;

body, html {
  font-family: $font;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 15px;
}
#main {
  width: 100%;
  text-align: center;

  #error-label {
    color: red;
  }
  #main-title {
    font-size: 3em;
    font-family: $title-font;
  }
  #main-subtitle {
    font-size: 1.2em;
  }
}
.hidden {
  display: none;
}
