$primary-color: white;
$secondary-color: #1BB248;
$tertiary-color: gray;

$font: "Montserrat", sans-serif;
$title-font: "IM Fell Great Primer", serif;

/* CSS Fade-In keyframes -  Reference: https://fabriceleven.com/ */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body, html {
  font-family: $font;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 15px;
}
#main {
  width: 100%;
  text-align: center;

  #error-label {
    color: red;
    background-color: $secondary-color;
  }
  #main-title {
    font-size: 3em;
    font-family: $title-font;
    margin-bottom: .2em;
  }
  #main-subtitle {
    font-size: 1.2em;
  }
  #area-input {
    margin-bottom: 2em;
    margin-top: 1em;
    padding: .5em;
    width: 25%;
    font-size: 1.2em;
    border: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;

    @media (max-width: 650px) {
      width: 70%;
    }
  }
  #area-btn {
    font-size: 1.3em;
    margin-left: .5em;
    padding: .3em;
    border: none;
    background-color: darken($secondary-color, 15);
    color: $primary-color;

    &:hover {
      background-color: darken($secondary-color, 5);
      cursor: pointer;
    }
  }
  #loader-label {
    background-color: $secondary-color;
    font-size: 1.8em;
  }
  #locations {
      width: 100%;
      margin-top: .5em;

    .spot {
      display: inline-block;
      padding: .5em;
      margin: .05em;
      width: 20em;
      border: .1em solid white;
      opacity: 0;

      /* CSS Fade-In Animation -  Reference: https://fabriceleven.com/ */
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
    	animation-fill-mode: forwards;

      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2 s;

      &:hover {
        background-color: lighten($secondary-color, 15);
      }
      h2 {
        font-family: $title-font;
      }
      img {
        height: auto;
        width: 50%;
      }
      .reserve-btn, .tweet-btn {
        width: 9em;
        margin-top: .6em;
        padding: .4em;
        border: none;
        color: $primary-color;
      }
      .reserve-btn {
        background-color: darken($secondary-color, 15);

        &:hover {
          background-color: darken($secondary-color, 5);
          cursor: pointer;
        }
      }
      .tweet-btn {
          margin-bottom: .6em;
          background-color: #00aced;

          &:hover {
            background-color: lighten(#00aced, 10);
            cursor: pointer;
          }
      }
      label {
        padding: .2em;
        color: $primary-color;
      }
    }
  }
}

/* FOOTER */
.footer {
  margin-top: 6em;
  text-align: center;
}

#yelp-img {
  height: auto;
  width: 3.5em;
}
a {
  text-decoration: none;
  color: darken($tertiary-color, 20);

  &:hover {
    text-decoration: underline;
  }
}
.hidden {
  display: none;
}
