$primary-color: white;
$secondary-color: #1BB248;
$tertiary-color: gray;

/* declare system fonts */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src:
        local(".SFNSText-Light"),
        local(".HelveticaNeueDeskInterface-Light"),
        local(".LucidaGrandeUI"),
        local("Ubuntu Light"),
        local("Segoe UI Light"),
        local("Roboto-Light"),
        local("DroidSans"),
        local("Tahoma");
}

$font: 'system';
$title-font: 'system';

/* CSS Fade-In keyframes -  Reference: https://fabriceleven.com/ */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body, html {
  font-family: $font;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 15px;
}

#top {
  width: 100%;
  text-align: center;

  #main-title {
    font-size: 3em;
    font-family: $title-font;
    margin-bottom: .2em;
  }
  #main-subtitle {
    font-size: 1.2em;
  }
}

#main {
  width: 100%;
  text-align: center;

  #error-label {
    color: red;
    background-color: $secondary-color;
  }
  #area-input {
    margin-bottom: 2em;
    margin-top: 1em;
    padding: .5em;
    width: 30%;
    font-size: 1.2em;
    border: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;

    @media (max-width: 650px) {
      width: 70%;
    }
  }
  #area-btn {
    font-size: 1.3em;
    margin-left: .5em;
    padding: .3em;
    border: none;
    background-color: darken($secondary-color, 15);
    color: $primary-color;

    &:hover {
      background-color: darken($secondary-color, 5);
      cursor: pointer;
    }
  }
  #loader-label {
    background-color: $secondary-color;
    font-size: 1.5em;
  }
  #locations {
      width: 100%;
      margin-top: .5em;

      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;

      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;

      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;

    .spot {
      height: 380px;
      padding: 0 0 .5em 0;
      margin: .2em;
      width: 15em;
      border: .1em solid white;
      opacity: 0;

      @media (max-width: 650px) {
        width: 90%;
        margin: 0 0 .2em 0;
      }

      /* CSS Fade-In Animation -  Reference: https://fabriceleven.com/ */
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
    	animation-fill-mode: forwards;

      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2 s;

      h2 {
        font-family: $title-font;
        min-height: 55px;
      }
      img {
        height: 10em;
        width: 100%;

        @media (max-width: 650px) {
          width: 90%;
          height: 8em;
          margin-top: 1em;
        }
      }
      .reserve-btn, .tweet-btn {
        width: 9em;
        margin-top: .6em;
        padding: .4em;
        border: none;
        color: $primary-color;
      }
      .reserve-btn {
        background-color: darken($secondary-color, 15);

        &:hover {
          background-color: darken($secondary-color, 5);
          cursor: pointer;
        }
      }
      .tweet-btn {
          margin-bottom: .6em;
          background-color: #00aced;

          &:hover {
            background-color: lighten(#00aced, 10);
            cursor: pointer;
          }
      }
      label {
        padding: .2em;
        color: $primary-color;
      }
    }
  }
}

/* FOOTER */
.footer {
  margin-top: 6em;
  text-align: center;
}

#yelp-img {
  height: auto;
  width: 2.5em;
}
a {
  text-decoration: none;
  color: darken($tertiary-color, 20);

  &:hover {
    text-decoration: underline;
  }
}
.hidden {
  display: none;
}
