$primary-color: white;
$secondary-color: #1BB248;
$tertiary-color: gray;

$font: "Montserrat", sans-serif;
$title-font: "Pacifico", cursive;

body, html {
  font-family: $font;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 15px;
}
#main {
  width: 100%;
  text-align: center;

  #error-label {
    color: red;
    background-color: $secondary-color;
  }
  #main-title {
    font-size: 3em;
    font-family: $title-font;
  }
  #main-subtitle {
    font-size: 1.2em;
  }
  #area-input {
    margin: .7em;
    padding: .5em;
    width: 25%;
    font-size: 1.2em;
    border: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  #area-btn {
    font-size: 1.3em;
    padding: .3em;
    border: none;

    &:hover {
      background-color: darken($secondary-color, 15);
      color: $primary-color;
      cursor: pointer;
    }
  }

  #locations {
    width: 100%;
  }
}
.hidden {
  display: none;
}
