/* declare system fonts */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }
/* CSS Fade-In keyframes -  Reference: https://fabriceleven.com/ */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body, html {
  font-family: "system";
  background-color: #1BB248;
  color: white;
  font-size: 15px; }

#top {
  width: 100%;
  text-align: center; }
  #top #main-title {
    font-size: 3em;
    font-family: "system";
    margin-bottom: .2em; }
  #top #main-subtitle {
    font-size: 1.2em; }

#main {
  width: 100%;
  text-align: center; }
  #main #error-label {
    color: red;
    background-color: #1BB248; }
  #main #area-input {
    margin-bottom: 2em;
    margin-top: 1em;
    padding: .5em;
    width: 30%;
    font-size: 1.2em;
    border: none;
    appearance: none;
    box-shadow: none;
    border-radius: none; }
    @media (max-width: 650px) {
      #main #area-input {
        width: 70%; } }
  #main #area-btn {
    font-size: 1.3em;
    margin-left: .5em;
    padding: .3em;
    border: none;
    background-color: #11702d;
    color: white; }
    #main #area-btn:hover {
      background-color: #189c3f;
      cursor: pointer; }
  #main #loader-label {
    background-color: #1BB248;
    font-size: 1.5em; }
  #main #locations {
    width: 100%;
    margin-top: .5em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    #main #locations .spot {
      height: 380px;
      padding: 0 0 .5em 0;
      margin: .2em;
      width: 15em;
      border: .1em solid white;
      opacity: 0;
      /* CSS Fade-In Animation -  Reference: https://fabriceleven.com/ */
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2 s; }
      @media (max-width: 650px) {
        #main #locations .spot {
          width: 90%;
          margin: 0 0 .2em 0; } }
      #main #locations .spot h2 {
        font-family: "system";
        min-height: 55px; }
      #main #locations .spot img {
        height: 10em;
        width: 100%; }
        @media (max-width: 650px) {
          #main #locations .spot img {
            width: 90%;
            height: 8em;
            margin-top: 1em; } }
      #main #locations .spot .reserve-btn, #main #locations .spot .tweet-btn {
        width: 9em;
        margin-top: .6em;
        padding: .4em;
        border: none;
        color: white; }
      #main #locations .spot .reserve-btn {
        background-color: #11702d; }
        #main #locations .spot .reserve-btn:hover {
          background-color: #189c3f;
          cursor: pointer; }
      #main #locations .spot .tweet-btn {
        margin-bottom: .6em;
        background-color: #00aced; }
        #main #locations .spot .tweet-btn:hover {
          background-color: #21c2ff;
          cursor: pointer; }
      #main #locations .spot label {
        padding: .2em;
        color: white; }

/* FOOTER */
.footer {
  margin-top: 6em;
  text-align: center; }

#yelp-img {
  height: auto;
  width: 2.5em; }

a {
  text-decoration: none;
  color: #4d4d4d; }
  a:hover {
    text-decoration: underline; }

.hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
